/*Applique a tous les éléments*/
* {
    margin: 0; /*Réinitialiser la marge*/
    padding: 0; /*Réinitialiser le padding*/
    box-sizing: border-box; /*La taille des éléments incluent le contenu, le padding et les bordures*/
    line-height: inherit;  /* Hériter les valeurs depuis l'élément parent*/
    color: inherit;
    font: inherit;
}
a {
    cursor: pointer;
    text-decoration: none;
}

ul, ol {
    list-style: none;
}