<header id="header">
    <a href="login.html" id="totonini">toto & nini </a>
</header>
<main class="container w-25">
    <div class="card" id="cardLogin">
        <div id="form">
            <div style="margin-top: 20%">
                <input type="text" class="form-control input" id="username" placeholder="username">
                <input type="password" class="form-control input" id="password" placeholder="password">
                <input type="password" class="form-control input" id="confirm" placeholder="confirm">
            </div>
            <div id="divboutonLogin">
                <button class="btn btn-primary" id="bouton" onclick="CreerCompte.verifForm()">create</button>
            </div>
        </div>
        <a id="boutonLogin" onclick="navigate('login')">login</a>
        <div id="divReseaux" style="margin-top: 90px">
            <img class="logoReseau" src="https://img.icons8.com/ios-glyphs/60/null/instagram-new.png"/>
            <img class="logoReseau" src="https://img.icons8.com/ios-glyphs/60/null/facebook.png"/>
            <img class="logoReseau" src="https://img.icons8.com/ios-glyphs/60/null/gmail.png"/>
        </div>
    </div>
    <div id="divLogo">
        <img id="logo" src="/front/ressources/logo.png" width="65"/>
    </div>
</main>
<footer>
</footer>
